* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
  /* gap: 10px; */
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #403d39;
  color: #ffffff;
  padding: 10px 20px;
  height: 150px;
  border: 1px solid black;
  font-size: 40px;
  text-align: right;
  width: 100%;
}

.buttons-column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* gap: 10px; */
  /* max-width: 800px; */
  width: 100%;
}

.buttons-row {
  display: flex;
  /* background-color: aqua; */
  flex-direction: row;
  /* gap: 10px; */
}

.button {
  flex-basis: 25%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding: 40px;
  border: 1px solid black;
  background-color: #fffcf2;
  /* flex-grow: 1; */
  cursor: pointer;
}

.button:hover {
  font-weight: bold;
}

.operator {
  background-color: #ccc5b9;
}
.equals {
  /* flex-basis: calc(50% + 16px); */
  flex-basis: 50%;
}
